@import "../../vars.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.socialMedia img {
  filter: grayscale(50%);
  height: 50px;
  margin: 8px;
  background-color: rgba(240, 248, 255, 0.842);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.socialMedia img:hover {
  filter: grayscale(10%);
  transition: 0.3s;
}

.title {
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 33px;

  font-family: var(--font-roboto);
  font-family: roboto;
  font-weight: 800;
  font-size: 50px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 25 5, 1) 70%,
    rgba(2 55, 255, 255, 0) 120%
  );
}

.description {
  font-size: 1.25rem;
  font-family: var(--font-roboto);
  font-family: roboto;
  font-weight: 300;
  color: rgba(237, 240, 243, 0.911);
  margin-bottom: 52px;
  z-index: 0;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
}

.heroImg {
  width: 35%;
  margin: 30px;
  border: 5px solid rgb(248, 248, 248);
  border-radius: 50%;
  padding: 8px;
  z-index: 1;
}

.topBlur {
  position: absolute;
  width: 30vh;
  height: 20vh;
  min-width: 200px;
  min-height: 200px;
  top: -128px;
  left: 10vw;
  border: 750px;
  background: rgba(65, 106, 182, 0.788);
  filter: blur(100px);
}

.bottomBlur {
  position: absolute;
  width: 30h;
  height: 50vh;
  min-width: 250px;
  min-height: 200px;
  top: 246px;
  right: 2px;
  border-radius: 750px;
  background: rgba(56, 80, 139, 0.397);
  filter: blur(100px);
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }

  .title,
  .content {
    text-align: center;
  }
  .heroImg {
    width: 35%;
    margin: 30px;
    border: 1px solid rgb(248, 248, 248);
    border-radius: 50%;
    padding: 8px;
    z-index: 1;
  }
}
