@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 25 5, 1) 70%,
    rgba(2 55, 255, 255, 0) 120%
  );
}

.description {
  font-size: 1.25rem;
  font-family: var(--font-roboto);
  color: rgba(240, 248, 255, 0.596);
  margin-bottom: 52px;
  z-index: 0;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
}

.heroImg {
  width: 50%;
  z-index: 1;
}

.topBlur {
  position: absolute;
  width: 50vh;
  height: 50vh;
  min-width: 350px;
  min-height: 350px;
  top: -128px;
  left: 10vw;
  border: 750px;
  background: rgba(25, 54, 109, 0.322);
  filter: blur(100px);
}

.bottomBlur {
  position: absolute;
  width: 70vh;
  height: 50vh;
  min-width: 350px;
  min-height: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 750px;
  background: rgba(25, 54, 109, 0.267);
  filter: blur(100px);
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content,
  .description {
    align-items: center;
  }
  .title {
    align-items: center;
  }
}
