@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: var(--color-secondary); */

  border-radius: 0px;
  padding: 73px;
}

.title {
  text-transform: uppercase;
  font-size: 30px;
  color: var(--color-text);
  font-weight: 100;
  letter-spacing: 1.5px;
  text-align: center;
  padding-bottom: 55px;
}
.title span {
  font-size: 14px;
  color: lightgray;
  text-transform: none;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 180px;
}

.skillImageContainer img {
  width: 75px;
}

.skillImageContainer p {
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.history {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.historyLink {
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: center;
}

.historyLink:hover {
  text-decoration: none;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: var(--color-secondary);
  background-color: rgba(240, 248, 255, 0.048);
  border-radius: 8px;
  padding: 24px;
  overflow: hidden;

  border: 1px solid rgba(255, 255, 255, 0.185);
  transition: background-color 0.3s ease;
}

.historyItem img {
  width: 100px;
  padding: 0px;
}

.historyItmDetails {
  font-family: var(--font-roboto);
}

.historyItmDetails h3 {
  font-size: 30px;
  font-weight: 500;
}

.historyItmDetails ul {
  margin-top: 6px;

  font-size: 25px;

  margin-left: 27px;
}

.company {
  color: rgba(240, 248, 255, 0.733);
}

.historyItem img {
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: rgba(243, 242, 239, 0);
  border-radius: 10px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border: 1px solid rgba(255, 255, 255, 0.185);
  margin: 8px;
  display: block;
  margin-right: 18px;
  box-sizing: border-box;
}
.historyItem img:hover {
  .historyItem {
    background-color: rgba(240, 248, 255, 0.192);
  }
}

.blur {
  position: relative;
  top: 0;
  width: 100px;
  height: 80px;
  background-color: rgba(158, 192, 224, 0.466);
  filter: blur(90px);
  overflow: hidden;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
    width: 100%;
  }

  .container {
    padding: 25px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .skill {
    width: 100%;
    flex-direction: row;
  }

  .history {
    width: 100%;
    gap: 9px;
  }

  .history {
    display: flex;
    flex-direction: column;
  }

  .title {
    text-align: center;
  }
  .historyItem {
    display: flex;
    flex-direction: column;
  }
  .blur {
    display: none;
  }
}
